# Meterec files
*.mrec
*.log
*.wav
*.w64
*.flac
*.ogg
*.oga

# Tools generated 
cscope.out

# Autotool results
Makefile*
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
.deps
stamp-h1

# Configuration results
configure*
config*


# Compilation results
meterec
test
*.o
*.obj
